@model IEnumerable<MedAgenda.WebMVC.Models.AppointmentDto>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.AppointmentDate.ToShortDateString()</td>
        <td>@item.Status</td>
        <td>@item.PatientId</td> @* Cambiado PatientName por PatientId *@
    </tr>
}