@model IEnumerable<MedAgenda.WebMVC.Models.SystemHistoryDto>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Action</td>
        @* <td>@item.CreatedAt</td> <-- Comenta esta línea si falla *@
    </tr>
}