@model List<MedAgenda.WebMVC.Models.DoctorAvailabilityDTO>

@{
    ViewData["Title"] = "Doctor Availability";
}

<h2>Doctor Availability</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Provider Id:</label>
        <input type="number" name="ProviderId" />
    </div>

    <div>
        <label>Day:</label>
        <input type="number" name="Day" />
    </div>

    <div>
        <label>Start Time:</label>
        <input type="time" name="StartTime" />
    </div>

    <div>
        <label>End Time:</label>
        <input type="time" name="EndTime" />
    </div>

    <br />
    <button type="submit">Guardar</button>
</form>

<hr />

<h3>Lista</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>
            ID: @item.Id - Day: @item.Day (@item.StartTime - @item.EndTime)
        </li>
    }
</ul>